doctype html
html
  head
    title Complex Room
    link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/site.css")

  body
    block main-content
    script(type="text/javascript", src="/lib/jquery/jquery.js")