doctype html
html
  head
    title Complex Room
    link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/site.css")
    script(type="text/javascript", src="../../js/canvas-operations.js")

  body(ng-app="app" ng-controller="trMainCtrl" ng-cloak)
    block content
    include scripts